#Arquivos e pastas a serem excluidos
API/*
Backup/*
obj/*
PPO/*
Dados.dbf
Dados.ntx

*.BAT
*.EXE
*.HBC
*.HPB
*.RC
log*.TXT
*.HTM
.gitignore

API
Backup
obj
PPO
./Samples/Pesquisa/Dados.dbf
./Samples/Pesquisa/Dados.ntx